* {
    margin: 2px;
    padding: 0;
}

.sim {
    position: absolute;
    width: 1335px;
    height: 90px;
    background: #3c8dbc;
    color: black;
    text-align: center;
    box-shadow: 2px 4px 6px #262626;
    margin-top: -10px;
}

.sim h1 {
    padding-top: 22px;
}


h1 {
    font-family: sans-serif;
}


#mid {
    position: absolute;
    height: 470px;
    width: 945px;
    margin: 55px 60px 20px 6px;
    box-shadow: 3px 4px 6px #262626;
    border-radius: 6px;
  	background-color: #f2f2f2;
  	background-image: url('images/cover.png');
}

#board {
    position: absolute;
    margin: 5px 0px 5px 11px;
    height: 300px;
    width: 900px;
    border-radius: 5px;
    border: 3px solid #d6d3d3;
    box-shadow: 3px 4px 6px #262626;
    background-image: url('images/board.png');
    display: block;
    visibility: hidden;
}


/* Components */

#led {

    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 80px;
    left: 736px;
}
#led1 {
    background-size: cover;
    display: inline-block;
    visibility: hidden;
        position: absolute;
    top: 80px;
    left: 655px;
}
#supply {
    height: 105px;
    width: 160px;
    visibility: hidden;
    margin: 335px 0px 5px 50px;
    padding: 5px;
}




#ic555{position: absolute;
    height: 154px;
    width: 57px;
   top:72px;
   left:436px;
   /* background-image: url('images/ic7408.png');*/
    display: inline-block;
    visibility: hidden;
}
#ic1
{
    position: absolute;
    top:5px;
}
#inputs {
    height: 40px;
    width: 110px;   
    display: inline-block;
    visibility: hidden;
}

#switch1 {
   
   
   /*  background-image: url('images/toggleoff1.jpg');*/
     position: absolute;
        top: 350px;
        left: 470px; 
    

}

#inputs1 {
    height: 40px;
    width: 110px;   
    display: inline-block;
    visibility: hidden;
}

#switch2 {
   
   
   /*  background-image: url('images/toggleoff1.jpg');*/
     position: absolute;
        top: 350px;
        left: 610px; 
    

}

#a

{
    position: absolute;
    top:  395px;
    left: 605px;
}
#b

{
    position: absolute;
    top:  395px;
    left: 465px;
}


/* Right Components Code here */

#instruction:hover {
        background-color: #7CFC00;
        color: #000;
}
    #instruction

    {   top:20px;
        margin-left: 1065px;
        position: absolute;
        width:150px;
        height:30px;
        color: #FFF;
        background-color: #262626;
        border-radius: 6px;
        font-size: 18px;
    }
    #instruction {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  margin-left:950px;
  margin-top: 19px;
  background-color: #fff;
  width: 365px;
  border:4px;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,1,1);
  z-index: 1;
  padding: 10px;
}
.dropdown-content a:hover {background-color: #ddd}
.show {display:block;}
a
{
    color: red;
}
.components                                            /*      fieldset position  */
{   position: absolute;
    width:1330px;
    height:160px;
    border-color: 4px #000000;
    border-radius: 7px;
    top:570px;
    left:5px;
    font-size: 22px;
    font-family: sans-serif;
    box-shadow: 3px 4px 6px;
}

#breadbutton                                                      /*     breadboard button  */
{   width: 150px;
    height:40px;
    background-color: #262626;
    border-radius: 10px;
    position: absolute;
    margin-top: 10px;
    margin-left:20px;
 	color: #FFF;
    
}
#breadbutton:hover          
{
    background-color:#7CFC00;
    color: #000;

}

#ic2button                                           /*      ic button  */
{   width: 150px;
    height:40px;
    background-color: #262626;
    border-radius: 10px;
    position: absolute;
    margin-left:530px;
    margin-top: -15px;
    color: #fff;
}
#ic2button:hover                                       
{
    background-color:#7CFC00;
    color:#000;

}

#supplybutton                                            /*      supply button  */
{   width: 150px;
    height:40px;
    background-color: #262626;
    border-radius: 10px;
    position: absolute;
    margin-top: 10px;
  	margin-left:190px;
  	color: #fff;
}
#supplybutton:hover
{
    background-color:#7CFC00;
    color:#000;

}
#switchbutton                                         /*    switch button   */
{   width: 150px;
    height:40px;
    background-color: #262626;
    border-radius: 10px;
    position: absolute;
    color: #fff;
    margin-left:360px;
    margin-top: -15px;
}
#switchbutton:hover
{
    background-color:#7CFC00;
    color:#000;

}
#capbutton                                                   /*      led button   */
{   width: 150px;
    height:40px;
    background-color: #262626;
    border-radius: 10px; 
    position: absolute;
    color: #fff;    
    margin-left:700px;
    margin-top: -15px;
}
#capbutton:hover
{
    background-color:#7CFC00;
    color:#000;

}

#ledbutton                                                   /*      led button   */
{   width: 150px;
    height:40px;
    background-color: #262626;
    border-radius: 10px; 
    position: absolute;
    color: #fff;    
    margin-left:870px;
    margin-top: -15px;
}
#ledbutton:hover
{
    background-color:#7CFC00;
    color:#000;

}
#resistancebutton                                                   /*      led button   */
{	width: 150px;
    height:40px;
    background-color: #262626;
    border-radius: 10px; 
    position: absolute;
    color: #fff;    
    margin-left:1040px;
    margin-top: -15px;
}
#resistancebutton:hover
{
    background-color:#7CFC00;
    color:white;

}

#checkbutton                                      /*      check connections buttton  */
{   width: 180px;
    height:50px;
    background-color: #ffff99;
    border-radius: 10px;
    position: absolute;
    top: 90px;
    left: 100px;
}
#checkbutton:hover                                  
{
    background-color:#7CFC00;
    color:white;

}
#startbutton                                          /*      start button   */
{ 	width: 180px;
    height:50px;
    background-color: #ccff99 ;
    border-radius: 10px;
    position: absolute;
    top: 90px;
    left: 380px;

}
#startbutton:hover
{
    background-color:#7CFC00;
    color:white;

}
#resetbutton                           /*reset button*/
{	width: 180px;
    height:50px;
    background-color: #ff9999 ;
    border-radius: 10px;
    position: absolute;
    top: 90px;
    left: 660px;

}
#resetbutton:hover 
{
    background-color:#7CFC00;
    color:white;

}

h3
{
    position: absolute;
    font-family:sans-serif;
    width:380px; 
    margin-left: 20px;
    font-style: bold;

}
button
{
       font-size: 18px;
       cursor: pointer;
       font-family: serif;
}
footer
{
    position: absolute;
    top:740px;
    font-family: sans-serif;
    }
u
{
    font-family: sans-serif;
}
strong
{position: absolute;
     top: 350px;
    font-size: 20px; 
     margin-left:70px;
}
.button
{
    margin-top: 170px;
    font-size: 15px;
     margin-left:70px;
border-radius: 4px;
    position: absolute;
    width: 150px;
    height: 30px;
    background-color: white;


}
.button:hover
{
    background-color: orange;
}
#cap
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 100px;
    left: 575px;
}

#resistance3
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 125px;
    left: 180px;
}
#resistance4
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 125px;
    left: 248px;
}
#resistance5
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 125px;
    left: 315px;
}

#Table
{   position: absolute;
    width: 345px;
    height: 450px;
    top: 93px;
    left: 964px;
    border-radius: 6px;
    background-color: #f2f2f2;
    box-shadow: 3px 4px 6px #262626;
}

th
{
 width: 70px;
 height: 30px;
}
.cell
{
    width: 64px;
    height: 22px;
    border:2px solid black;
    border-radius: 4px;
    text-align: center;
    color: red;
    font-weight: bolder;
}
#mytable
{
    position: absolute;
    top:125px;
    left:62px;
    background-color: #fff;
}
#mytable tr:nth-child(even){background-color: #f2f2f2;}

#check
{
     width: 80px;
    height:40px;
    border-radius: 5px;
    background-color: #292929;
    border:2px solid black;
    margin-top: 220px;
    margin-left: -5px;
    color: #fff;
}
#check:hover
{
   background-color:#7CFC00;
    color:#000;
}
#reset
{
    width: 80px;
    height:40px;
    border-radius: 5px;
    background-color: #292929;
    border:2px solid black;
    margin-top: 220px;
    margin-left: 35px;
    color: #fff;
}
#reset:hover
{
   background-color:#7CFC00;
    color:#000;
}

#res6
{
     transition: transform .2s;


}

#res6:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}
#res7
{
     transition: transform .2s;


}

#res7:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}
#res8
{
     transition: transform .2s;


}

#res8:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}