
/* for heading task 3 */
p

{
color: #000000;
font-style: italic; 
font-weight: bold;
}
/* for making pink bakground box*/
#block{ border: 4px solid black;
	background-color:pink;
	margin-top: 20px;
	margin-left:30px;
	margin-right: 30px;
}
/*for styling the "x" slider*/
#myrange1
{
	margin-top: 25px;
	margin-left: 25px;
}
/*for styling  the "y" slider*/
#myrange2
{
	margin-top:35px;
	margin-left:25px;
}
/* for shwing the "x" on sreen" */
.slide1
{
	margin-left:33px;
}
/* for shwing the "y" on sreen" */
.slide2
{
	margin-left:33px;
}
/* for showing value at whih the x slider is placed */
#blockx
{
	margin-top:-10px;
	margin-left:80px;
	border-color:yellow;
	border-width:4px;
}
/* for showing value at whih the y slider is placed */
#blocky
{
	margin-left:80px;
	
	
	border-color:yellow;
	border-width:4px;
}
/* for styling add button */
#add 

{width:100px;
	background-color:aqua;
	border:3px solid black;
	padding:10px;
margin-left:150px;
margin-top: 45px;
}
/* for styling plot button */

#plot
{width:100px;
	background-color:aqua;
	border:3px solid black;
	padding:10px;
	margin-top:45;
	margin-left:400px;
}
 /* for styling table */
#thisistable
{border-collapse:collapse;
	border:3px solid black;
	background-color: white;
	margin-left:30px;
	margin-top:50px;
	width:350px;padding:2px;}

/*for text graph in box*/
#mgraph
{color:rgb(255, 255, 255);text-align:center;
}
/*for styling graph box */
div.graph
{margin-top:-10px;
	width:350px;
	height:250px;
	border:3px solid rgb(255, 255, 255);
background-color:silver;
	margin-left: 500px;
}
