#vertical
{
  position: absolute;
  top: 420px;
  left: 613px;
  z-index: 80;
  visibility: hidden;
}
#horizontal
{
  position: absolute;
  top: 425px;
  left: 890px;
  z-index: 80;
  visibility: hidden;
  
}
.sim {
    position: absolute;
    width: 1330px;
    height: 85px;
    background: #3c8dbc;
    color: #fff;
    text-align: center;
    box-shadow: 2px 4px 6px #262626;
    margin-top: -8px;
    margin-left: 8px;
}

h1 {
    font-family: sans-serif;
    font-size: 42px;
    color: #fff;
    margin-top: 10px;
}

#mid {
    position: absolute;
    height: 610px;
    width: 1008px;
    margin: 60px 0px 0px 8px;
    box-shadow: 2px 4px 6px #262626;
    border-radius: 4px;
    background-color: #f2f2f2;
    background-image: url('images/cover.png');
}

#board {
    position: absolute;
    margin: 275px 0px 5px 38px;
    height: 300px;
    width: 900px;
    border-radius: 5px;
    border: 3px solid #d6d3d3;
    box-shadow: 3px 4px 6px #888888;
    background-image: url('images/board.png');
    display: block;
    visibility: hidden;
}


/* Components */


#supply {
    height: 150px;
    width: 235px;
    background-image: url('images/supply.png');
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    margin: 80px 0px 5px 160px;
 
}
#cro {
    position: absolute;
    height: 225px;
    width: 370px;
    background-image: url('images/cro1.png');
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    margin: 10px 0px 0px 150px;
 
}



#ic741{position: absolute;
    height: 153px;
    width: 57px;
   top:74px;
   left:346px;
  
    display: inline-block;
    visibility: hidden;
}
#ic1
{
    position: absolute;
    top:5px;
}


#ic7411{position: absolute;
    height: 153px;
    width: 57px;
   top:74px;
   left:481px;

    display: inline-block;
    visibility: hidden;
}
#ic2
{
    position: absolute;
    top:5px;
}

/* Right Components Code here */

#instruction:hover {
        background-color: #7CFC00;
        color: #000;
}
    #instruction

    {   top:30px;
        margin-left: 1130px;
        position: absolute;
        width:152px;
        height:32px;
        color: #fff;
        background-color: #262626;
        border-radius: 6px;
        font-size: 18px;
    }
    #instruction
    {
      position: relative;
      display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  margin-left:920px;
  margin-top: 50px;
  background-color: #fff;
  width: 410px;
  height: 610px;
  border:4px;
  border-radius: 4px;
  font-size: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,1,1);
  z-index: 81;
  overflow: auto;
  padding: 10px;
}
.dropdown-content a:hover {background-color: #ddd}
.show {display:block;}
a
{
    color: red;
}
.components                                            /*      fieldset position  */
{   position: absolute;
    display: inline-block;
    width:300px;
    height:490px;
    border-radius: 5px;
    top:80px;
    left:1025px;
    font-size: 20px;
    font-family: sans-serif;
}

#breadbutton                                                      /*     breadboard button  */
{   width: 150px;
    height:40px;
    background-color: #262626;
    border-radius: 10px;
    position: absolute;
    margin-top: 25px;
    margin-left:70px;
    color: #fff;
    
}
#breadbutton:hover          
{
    background-color:#7CFC00;
    color:#000;

}

#ic2button                                           /*      ic button  */
{   width: 150px;
    height:40px;
    background-color: #262626;
    border-radius: 10px;
    position: absolute;
    margin-top: 75px;
    margin-left:70px;
    color: #fff;
}
#ic2button:hover                                       
{
    background-color:#7CFC00;
    color:#000;

}

#supplybutton                                            /*      supply button  */
{   width: 150px;
    height:60px;
    background-color: #262626;
    border-radius: 10px;
    position: absolute;
    margin-top: 35px;
    margin-left:70px;
    color: #fff;
}
#supplybutton:hover
{
    background-color:#7CFC00;
    color:#000;

}
#switchbutton                                         /*    switch button   */
{   width: 150px;
    height:40px;
    background-color: #262626;
    border-radius: 10px;
    position: absolute;
    margin-top: 65px;
    margin-left:70px;
    color: #fff;
}
#switchbutton:hover
{
    background-color:#7CFC00;
    color:#000;

}
#resistancebutton                                                   /*      led button   */
{   width: 150px;
    height:40px;
    background-color: #262626;
    border-radius: 10px; 
    position: absolute;
    margin-top: 85px;
    margin-left:70px;
    color: #fff;
}
#resistancebutton:hover
{
    background-color:#7CFC00;
    color:#000;

}

#diodes                                                  /*      led button   */
{   width: 150px;
    height:40px;
    background-color: #262626;
    border-radius: 10px; 
    position: absolute;
    margin-top: 95px;
    margin-left:70px;
    color: #fff;
}
#diodes:hover
{
    background-color:#7CFC00;
    color:#000;

}
#capacitor                                                 /*      led button   */
{   width: 150px;
    height:60px;
    background-color: #262626;
    border-radius: 10px; 
    position: absolute;
    margin-top: 105px;
    margin-left:70px;
    color: #fff;
}
#capacitor:hover
{
    background-color:#7CFC00;
    color:#000;

}


#checkbutton                                      /*      check connections buttton  */
{   width: 130px;
    height:50px;
    background-color: #ffff99;
    border-radius: 10px;
    position: absolute;
    top:585px;
    left:1040px;
    font-weight: bolder;
}

#checkbutton:hover                                  
{
    background-color:#7CFC00;
    color:#000;

}
#startbutton                                          /*      start button   */
{   width: 130px;
    height:50px;
    background-color: #ccff99 ;
    border-radius: 10px;
    position: absolute;
    top: 585px;
    left: 1180px;
    font-weight: bolder;

}
#startbutton:hover
{
    background-color:#7CFC00;
    color:#000;

}
#resetbutton                           /*reset button*/
{   width: 130px;
    height:50px;
    background-color: #ff9999 ;
    border-radius: 10px;
    position: absolute;
    top: 645px;
    left: 1040px;
    font-weight: bolder;

}
#resetbutton:hover 
{
    background-color:#7CFC00;
    color:#000;

}
#addtable                          /*reset button*/
{   width: 130px;
    height:50px;
    background-color: #ff9999 ;
    border-radius: 10px;
    position: absolute;
    top:645px;
    left: 1180px;
    font-size: 18px;

}
#addtable:hover 
{
    background-color:#7CFC00;
    color:#000;

}

h3
{
    position: absolute;
    font-family:sans-serif;
    width:380px; 
    margin-left: 20px;
    font-style: bold;

}
button
{
    font-size: 19px;
    font-style: bold;
    cursor: pointer;
    font-family: serif;
}
footer
{
    position: absolute;
    top:940px;
    left:20px;
    font-size: 18px;}
u
{
    font-family: sans-serif;
}
strong
{position: absolute;
     top: 350px;
    font-size: 20px; 
     margin-left:70px;
}
.button
{
    margin-top: 170px;
    font-size: 15px;
    margin-left:70px;
    border-radius: 4px;
    position: absolute;
    width: 130px;
    height: 30px;
    background-color: white;

}
.button:hover
{
    background-color: orange;
}

#resistance1
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 124px;
    left: 112px;
}
#resistance2
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 124px;
    left: 152px;
}
#resistance3
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 124px;
    left: 192px;
}
#resistance4
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 124px;
    left: 232px;
}
#capacitor1
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 109px;
    left: 700px;
}

#diode1
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 130px;
    left: 589px;
}
#diode2
{
    background-size: cover;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 130px;
    left:643px;
}



#sel2
{
    position: absolute;
    margin-top: 10px;
}

#heading
{
    position: absolute;
    margin-top: 50px;
    margin-left: 10px;
    border:2px solid black;
    width:1320px;
    height:30px;
    visibility: hidden;
    border-radius: 4px;
    background-color: pink;
    color: red;
    font-weight: bolder;
    font-size: 22px;
}

    



  

#res1
{
     transition: transform .2s;
padding: 4px;
}

#res1:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}
#res2
{
     transition: transform .2s;
     padding: 5px;

}

#res2:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}
#res3
{
     transition: transform .2s;
     padding: 5px;

}

#res3:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}
#res4
{
     transition: transform .2s;
     padding: 5px;

}

#res4:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.7); 
}
#mytable
{
  position: absolute; 
  top: 100px;
  left: 40px;
  font-weight: bolder;
  font-size: 18px;
}
#mytable1
{
  position: absolute; 
  top: 130px;
  left: 40px;
  font-weight: bolder;
  font-size: 18px;
}
