html, body {
    max-width: 500px;
    margin: auto;
    background-color:#666699;
}
canvas {
  display: block;
  margin-top: -500px;
  border-radius: 10px;
  background-color: #ffd1b3;

}

#check{
  color: black;
  background-color: #ffbb80;
  font-size: 30px;
  padding-right: 55px;
  padding-left: 55px;
  border-radius: 6px;
  border-color: #ff6600;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 6px;
}
#reset{
  color: black;
  background-color: #ffbb99;
  font-size: 30px;
  padding-right: 57px;
  padding-left: 56px;
  border-radius: 6px;
  border-color: #ff6600;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 6px;
}
#box
{

	width:400px;
	margin-top: 400px;
	height:100px;
	align-items:50px;
}
h1
{
	color: black;
	margin-left:140px;

}
#check:hover{
  background-color: #ff6600;
 }
#reset:hover{
  background-color: #ff6600;
}
p {
  padding-left: 40px;
}